<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/ttt.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/ttt.js') }}" defer></script>
    <title>Tic Tac Toe</title>
</head>
<body>
    <div>
        <button id="return-home" onclick="window.location = '/'">Return Home</button>
    </div>
    <div id="container">
        <div id="nav">
            <div id="score">(X) 0 - 0 (O)</div>
            <player>Player "X"</player>
            <div id="nav-buttons">
                <button id="restart-btn" class="nav-btn" type="button">Restart</button>
                <button id="reset-score-btn" class="nav-btn" type="button">Reset Score</button>
            </div>
        </div>
        <div id="game">
            <button class="cross"><div></div></button>  
            <button class="cross"><div></div></button>
            <button class="cross"><div></div></button>
            <button class="cross"><div></div></button>
            <button class="cross"><div></div></button>
            <button class="cross"><div></div></button>
            <button class="cross"><div></div></button>
            <button class="cross"><div></div></button>
            <button class="cross"><div></div></button>
        </div>
    </div>
</body>
</html>