#nav {
  padding: 50px 0px 50px 0px;
}

#wordDisplay {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

@media screen and (max-width: 590px) {
  #nav-buttons {
    display: flex;
    flex-direction: column;
  }

  .nav-btn {
    min-width: 200px;
    width: 75vw;
    max-width: 300px;
  }
}

.letter {
  text-align: center;
}

letter {
  margin: 0 5px 0 5px;
  font-family: Urbanist;
  font-size: calc(.5rem + 1vw);
}

.letter-underline {
  display: block;
  margin: 0 5px 0 5px;
  min-width: 10px;
  width: calc(.5rem + 1vw);
  max-width: 40px;
  height: 2px;
  background-color: black;
}

#user-input-container {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;

  padding: 15px;
  margin-top: 20px;
  font-size: 15px;
  font-family: Urbanist;
  color: black;
}

#user-guess-form {
  margin-left: 10px;
}

#user-input-text {
  text-align: center;
}

#user-input {
  border-radius: 5px;
  outline: none;
  background-color: #ddbdae;
  border: 1px solid#dba389;
  padding: 5px 5px 5px 8px;
  font-family: Urbanist;
}

#user-input-submit {
  border: none;
  outline: none;
  font-family: Urbanist;
  font-weight: bold;
  color: black;

  border-radius: 4px;
  width: 55px;
  height: 25px;
  margin-top: 5px;

  background-color: #ddbdae;

  box-shadow: 2px 3px 4px 1px #76522be7;
  transition: 250ms ease;

  cursor: pointer;
}

#user-input-submit:hover {
  background-color: #edcaba;
}

#user-input-submit:active {
  box-shadow: 1px 2px 3px 0px #76522be7;
}



/* difficulty select */
#diff-select {
  border: none;
  outline: none;
  padding: 0 0 0 20px;
}

/* hints and tries styles */
#nav-text {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

#nav-text div {
  margin: 0 10px 0 10px;
  font-size: 22px;
  font-family: Urbanist;
  font-weight: 600;
}

/* hangman image */
#hangman {
  width: 280px;
  height: 280px;
  background-image: url(../images/hangman-pictures/hangman-0.png);
}