#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
}

#nav {
  padding: 70px 0px 50px 0px;
}

.nav-btn {
    min-width: 130px;
    width: 15vw;
    max-width: 160px;
    min-height: 35px;
    height: 5vh;
    max-height: 45px;
  
    margin-top: 30px;
    margin-right: 5px;
    margin-left: 5px;
}

.btn {
  border: none;
  outline: none;
  font-family: Urbanist;
  font-weight: bold;

  border-radius: 5px;

  background-color: #ddbdae;

  box-shadow: 6px 8px 8px 1px #76522be7;
  transition: 250ms ease;

  cursor: pointer;
}

.btn:hover {
  box-shadow: 6px 8px 6px 1px #76522be7;
  transform: translateX(1px) translateY(2px);
}
.btn:active {
  box-shadow: 3px 4px 4px 0px #76522be7;
  transform: translateX(2px) translateY(4px);
}

#wordDisplay {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.letter {
  text-align: center;
}

letter {
  margin: 0 5px 0 5px;
  font-family: Urbanist;
  font-size: 150%;
}

.letter-underline {
  margin: 0 5px 0 5px;
  width: 40px;
  height: 2px;
  background-color: black;
}

#user-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#user-input-container {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 20px;
  font-size: 15px;
  font-family: Urbanist;
  color: #324b4b;
}
#user-guess-form {
  margin-left: 10px;
}

#user-input {
  border-radius: 5px;
  outline: none;
  background-color: #ddbdae;
  border: 1px solid#dba389;
  padding: 5px 5px 5px 8px;
  font-family: Urbanist;
}

#user-input-submit {
    border: none;
    outline: none;

    width: 55px;
    height: 28px;
}

#error-msg {
  display: block;

  font-size: 16px;
  font-family: Urbanist;
  color: #324b4b;
  text-align: center;

  background-color: rgb(230, 161, 161);

  margin-top: 20px;
  min-width: 150px;
  width: fit-content;
  max-width: 250px;
  height: fit-content;
  word-wrap: break-word;
  padding: 8px 10px 8px 10px;
  border-radius: 6px;
  box-shadow: 0 0 0 2px rgb(189, 117, 117), 0 0 0 4px rgb(197, 110, 110),
    6px 8px 10px 4px #e07d7de7;
  transition: 200ms ease;
}
#error-msg:hover {
  box-shadow: 0 0 0 2px rgb(189, 117, 117), 0 0 0 4px rgb(197, 110, 110),
    2px 4px 6px 4px #e07d7de7;
    transform: translateY(4px) translateX(2px);
}
