@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist&display=swap');

body {
    background-color: #c4dcdc;
    box-sizing: border-box;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    padding: 20px;
}

.nav-btn {
    min-width: 120px;
    width: 15vw;
    max-width: 160px;
    min-height: 35px;
    height: 5vh;
    max-height: 45px;

    margin-top: 30px;
    margin-right: 5px;
    margin-left: 5px;
}

/* return home buttons */
#return-home {
    border: none;
    outline: none;
    font-family: Urbanist;
    font-weight: bold;
    color: black;

    width: 130px;
    height: 35px;
    border-radius: 10px;
    margin: 10px 0 0 10px;

    background-color: #DDBDAE;
    box-shadow: 3px 4px 6px 1px #76522be7;

    transition: 250ms ease;

    cursor: pointer;
}

#return-home:hover {
    box-shadow: 2px 3px 6px 1px #76522be7;
    transform: translateX(1px) translateY(2px);
}

#return-home:active {
    box-shadow: 1px 2px 4px 0px #76522be7;
    transform: translateX(2px) translateY(4px);
}

/* general button styles */
.btn {
    border: none;
    outline: none;
    font-family: Urbanist;
    font-weight: bold;
    color: black;

    border-radius: 5px;

    background-color: #ddbdae;

    box-shadow: 6px 8px 8px 1px #76522be7;
    transition: 250ms ease;

    cursor: pointer;
}

.btn:hover {
    box-shadow: 6px 8px 6px 1px #76522be7;
    transform: translateX(1px) translateY(2px);
}

.btn:active {
    box-shadow: 3px 4px 4px 0px #76522be7;
    transform: translateX(2px) translateY(4px);
}

/* message notification styles */
#msg {
    display: none;

    font-size: 16px;
    font-family: Urbanist;
    color: black;
    text-align: center;

    margin-top: 20px;
    min-width: 150px;
    width: fit-content;
    max-width: 250px;
    height: fit-content;
    word-wrap: break-word;
    padding: 8px 10px 8px 10px;
    border-radius: 6px;
    cursor: pointer;
    transition: 200ms ease;
}

.error {
    background-color: rgb(230, 161, 161);
    box-shadow: 0 0 0 4px rgb(197, 110, 110), 6px 8px 10px 4px #e07d7de7;
}

.success {
    background-color: rgb(169, 230, 161);
    box-shadow: 0 0 0 4px rgb(96, 163, 119), 6px 8px 10px 4px #a2e491e7;
}

.warning {
    background-color: rgb(230, 217, 161);
    box-shadow: 0 0 0 4px rgb(227, 196, 97), 6px 8px 10px 4px #f3ecace7;
}

.error:hover {
    box-shadow: 0 0 0 4px rgb(197, 110, 110), 2px 4px 6px 4px #e07d7de7;
    transform: translateY(4px) translateX(2px);
}

.success:hover {
    box-shadow: 0 0 0 4px rgb(96, 163, 119), 6px 8px 10px 4px #a2e491e7;
    transform: translateY(4px) translateX(2px);
}

.warning:hover {
    box-shadow: 0 0 0 4px rgb(227, 196, 97), 6px 8px 10px 4px #f3ecace7;
    transform: translateY(4px) translateX(2px);
}
/* console styles */
/* console where guesses are displayed */

#console {
    transition: 450ms cubic-bezier(0.69, 0.4, 0.2, 0.85); 

    min-width: 200px;
    width: fit-content;
    max-width: 800px;

    height: fit-content;

    background-color: rgb(124, 169, 169);

    border-radius: 15px;
    padding: 20px;
    margin: 30px 0 50px 0;

    font-size: 20px;
    font-family: Urbanist;
    color: rgb(19, 59, 67);
    font-weight: 600;
}
#console::after {
    display: flex;
    justify-content: center;
    align-items: center;
    content: '';

    margin-top: 5px;
    margin-left: 3px;
    
    border-top: 10px solid transparent;
    border-left: 18px solid rgb(164, 238, 242);
    border-bottom: 10px solid transparent;

    animation: console 800ms ease 0s infinite forwards;
}

@keyframes console {
    0% {
        opacity: 100%;
        transform: translateX(-4px);
    }
    10% {
        transform: translateX(-3.5px);
    }
    20% {
        transform: translateX(-3px);
    }
    30% {
        transform: translateX(-2.5px);
    }
    40% {
        transform: translateX(-2px);
    }
    50% {
        opacity: 50%;
        transform: translateX(-1.5px);
    }
    60% {
        transform: translateX(-2px);
    }
    70% {
        transform: translateX(-2.5px);
    }
    80% {
        transform: translateX(-3px);
    }
    90% {
        transform: translateX(-3.5px);
    }
    100% {
        opacity: 100%;
        transform: translateX(-4px);
    }
}

#console-text {
    margin: 0;
}
/* when the console is unfocused */
.console-unf {
    opacity: 0;
    transform: translateY(50px);
    pointer-events: none;
}
/* when the console is focused */
.console-f {
    pointer-events: all;
    opacity: 100;
    transform: translateY(0px);
}