@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist&display=swap');

body {
    background-color: #c4dcdc;
    box-sizing: border-box;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    padding: 20px;
}

.nav-btn {
    min-width: 120px;
    width: 15vw;
    max-width: 160px;
    min-height: 35px;
    height: 5vh;
    max-height: 45px;

    margin-top: 30px;
    margin-right: 5px;
    margin-left: 5px;
}

/* return home buttons */
#return-home {
    border: none;
    outline: none;
    font-family: Urbanist;
    font-weight: bold;
    color: black;

    width: 130px;
    height: 35px;
    border-radius: 10px;
    margin: 10px 0 0 10px;

    background-color: #DDBDAE;
    box-shadow: 3px 4px 6px 1px #76522be7;

    transition: 250ms ease;

    cursor: pointer;
}

#return-home:hover {
    box-shadow: 2px 3px 6px 1px #76522be7;
    transform: translateX(1px) translateY(2px);
}

#return-home:active {
    box-shadow: 1px 2px 4px 0px #76522be7;
    transform: translateX(2px) translateY(4px);
}

/* general button styles */
.btn {
    border: none;
    outline: none;
    font-family: Urbanist;
    font-weight: bold;
    color: black;

    border-radius: 5px;

    background-color: #ddbdae;

    box-shadow: 6px 8px 8px 1px #76522be7;
    transition: 250ms ease;

    cursor: pointer;
}

.btn:hover {
    box-shadow: 6px 8px 6px 1px #76522be7;
    transform: translateX(1px) translateY(2px);
}

.btn:active {
    box-shadow: 3px 4px 4px 0px #76522be7;
    transform: translateX(2px) translateY(4px);
}

/* message notification styles */
#msg {
    display: none;

    font-size: 16px;
    font-family: Urbanist;
    color: black;
    text-align: center;

    margin-top: 20px;
    min-width: 150px;
    width: fit-content;
    max-width: 250px;
    height: fit-content;
    word-wrap: break-word;
    padding: 8px 10px 8px 10px;
    border-radius: 6px;
    cursor: pointer;
    transition: 200ms ease;
}

.error {
    background-color: rgb(230, 161, 161);
    box-shadow: 0 0 0 4px rgb(197, 110, 110), 6px 8px 10px 4px #e07d7de7;
}

.success {
    background-color: rgb(169, 230, 161);
    box-shadow: 0 0 0 4px rgb(96, 163, 119), 6px 8px 10px 4px #a2e491e7;
}

.warning {
    background-color: rgb(230, 217, 161);
    box-shadow: 0 0 0 4px rgb(227, 196, 97), 6px 8px 10px 4px #f3ecace7;
}

.error:hover {
    box-shadow: 0 0 0 4px rgb(197, 110, 110), 2px 4px 6px 4px #e07d7de7;
    transform: translateY(4px) translateX(2px);
}

.success:hover {
    box-shadow: 0 0 0 4px rgb(96, 163, 119), 6px 8px 10px 4px #a2e491e7;
    transform: translateY(4px) translateX(2px);
}

.warning:hover {
    box-shadow: 0 0 0 4px rgb(227, 196, 97), 6px 8px 10px 4px #f3ecace7;
    transform: translateY(4px) translateX(2px);
}