/* game board */
#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#game {
    display: inline-grid;
    grid-template-rows: 33.3% 33.3% 33.3%;
    grid-template-columns: 33.3% 33.3% 33.3%;
    gap: 2px;

    background-color: black;

    width: 20vw;
    min-width: 300px;
    max-width: 400px;
    aspect-ratio: 1;
}

/* game players */
#game>button {
    background-color: #c4dcdc;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle,
.cross,
.crossTaken,
.circleTaken,
.gameFinished {
    border: none;
    outline: none;
}


.circle div,
.circleTaken div {
    background-color: none;
    border-radius: 50px/50px;
    width: 40%;
    aspect-ratio: 1;
}

.cross div,
.crossTaken div {
    position: relative;
    width: 100%;
    max-width: 100px;
    aspect-ratio: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cross div::before,
.cross div::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 21px;
    border-radius: 10px;
}

.crossTaken div::before,
.crossTaken div::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 21px;
    border-radius: 10px;
    background-color: rgb(185, 154, 140);
}

.cross div::before,
.crossTaken div::before {
    transform: rotate(45deg);
}

.cross div::after,
.crossTaken div::after {
    transform: rotate(-45deg);
}


#game .circle:hover div {
    border: solid 21px rgba(185, 154, 140, 0.302);
}

#game .cross:hover div:after,
#game .cross:hover div:before {
    background-color: rgba(185, 154, 140, 0.302);
}

.circleTaken div {
    border: solid 21px rgb(185, 154, 140);
}

/* nav text and buttons */

#nav {
    padding: 70px 0px 50px 0px;
}

#score {
    font-size: 240%;
    font-family: Urbanist;
    font-weight: bold;
    color: black;
    padding-bottom: 20px;
}

player {
    font-size: 200%;
    font-family: Urbanist;
    font-weight: bold;
    color: rgb(29, 29, 29);
}

.nav-btn {
    min-width: 130px;
    width: 15vw;
    max-width: 160px;
    min-height: 35px;
    height: 5vh;
    max-height: 45px;

    margin-top: 30px;
    margin-right: 5px;
    margin-left: 5px;

    background-color: #DDBDAE;

    box-shadow: 6px 8px 8px 1px #76522be7;
    transition: 250ms ease;

    cursor: pointer;
}